@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    background:linear-gradient(rgb(67, 108, 232),rgb(209, 238, 231),rgb(231, 230, 129));
    color: #fff;
    padding: 2rem;
    width: 40%;
    margin: 4rem auto;
    border-radius: 10px;
}

.weather__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input {
    border: none;
    background: #1e1e1e;
    outline: none;
    color: #fff;
    padding: 0.5rem 2.5rem;
    border-radius: 15px;
}

input::placeholder {
    color: #fff;
}

.weather__search {
    position: relative;
    
}

.weather__search i {
    position: absolute;
    left: 10px;
    top: 10px;
    font-size: 15px;
    color: #fff;
}

.weather__units {
    font-size: 1.5rem;
}
.weather__body {
    text-align: center;
    margin-top: 3rem;
}

.weather__datetime {
    margin-bottom: 2rem;
    font-size: 14px;
}

.weather__forecast {
    display: inline-block;
    padding: 0.5rem 1rem;
    color:rgb(22, 95, 190);
    font-size: 18px;
}

.weather__icon img{
    width: 100px;
   
}

.weather__temperature {
    font-size: 60px;
    color: rgb(232, 73, 78);
}

.weather__minmax {
    
    color:#eedfdf;
}

.weather__minmax p {
    font-size: 14px;
    margin: 0.5rem;
}

.weather__info {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    margin-top: 3rem;
}

.weather__card {
    display: flex;
    align-items: center;
    background: #1e1e1e;
    padding: 1rem;
    border-radius: 20px;
}

.weather__card i {
    font-size: 1.5rem;
    margin-right: 1rem;
}

.weather__card p {
    font-size: 14px;
}

@media(max-width: 936px) {
    .container {
        width: 90%;
    }

    .weather__header {
        flex-direction: column;
    }
}


@media(max-width: 400px) {
    .weather__info {
        grid-template-columns: none;
    }
}
.error{
    color:rgb(45, 21, 21);
}